inputs/*
revisions/
outputs/*
sci/
manuscript/
tests/
src/scenario_reweighting/plotting.py
src/scenario_reweighting/outcomes.py
git

!inputs/.gitkeep
!outputs/.gitkeep

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/